html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 從此開始 */

body {
  font-family: sans-serif;
  background: lightgray;
}

html,
body,
.wrap {
  height: 100vh;
}

.main_container {
  height: calc(100vh - 76px);
}

a {
  cursor: pointer;
}

/* 去除a標籤的四種狀態預設樣式 */
a,
a:hover,
a:visited,
a:link,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

/* 去除button標籤的預設樣式 */
button {
  border: 0;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

.header {
  height: 76px;
  background: #738047;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 45px;
}

.logo {
  height: 32px;
}

.nav_btns {
  color: #738047;
}

.nav_btns a {
  outline: 2px solid #3f4a1b;
  border-radius: 8px;
  padding: 8px 14px;
  background: #ffffff;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav_btns a:hover {
  outline: 3px solid #3f4a1b;
  box-shadow: 3px 3px 0.15rem 0.15rem rgb(40 43 26 / 66%);
}
.nav_btns img {
  line-height: 36px;
}

.nav_btns ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

.main_container {
  position: relative;
}

.left-list {
  width: 425px;
  padding: 28px 15px 28px 32px;
  /* box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3); */
  box-shadow: 3px 3px 0.3rem 0.15rem rgb(40 43 26 / 66%);
  border-radius: 8px;
  background: #ffffff;
  position: absolute;
  left: 32px;
  top: 23px;
  z-index: 999;
  height: 92%;
  /* overflow: auto; */
}

.stationContent_outer {
  overflow: auto;
  height: 90%;
  padding-right: 7px;
}

/* 捲軸寬度 */
.stationContent_outer::-webkit-scrollbar {
  background-color: #ffffff;
  width: 5px;
  /* height: 60px; */
  /* padding-left: 10px; */
}

/* 捲軸底色 */
.stationContent_outer::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #ffffff;
  margin-top: 3px;
}

/* 捲軸本體顏色 */
.stationContent_outer::-webkit-scrollbar-thumb {
  background-color: #9a9a9a;
}

/* .divided_scroll {
  margin: 0 0 1rem;
} */

.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.searchingStyle {
  padding: 10px 16px;
  height: 36px;
  background: #eeeeee;
  border-radius: 8px;
  border: 2px solid #a4b375;
  color: #738047;
  width: 70%;
  font-size: 0.875rem;
}
.searchingStyle:focus {
  outline: none;
  box-shadow: 0 0 0.1rem 0.25rem rgb(160 197 38 / 60%);
}

.magnifier_Icon {
  position: absolute;
  color: #767676;
  width: 20px;
  right: 32%;
}

.dropDownList {
  color: #738047;
  font-size: 15px;
  cursor: pointer;
}

.sorting_btn {
  background: #ffffff;
  border: 2px solid #a4b375;
  color: #738047;
  padding: 8px 12px;
  width: 79px;
  margin: 0px 10px;
  border-radius: 8px;
  font-weight: bold;
}

.sorting_btn:hover {
  background: #dfe4ce;
}

.sorting_list {
  position: absolute;
  background: #ffffff;
  border: 2px solid #a4b375;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  border-radius: 8px;
  margin: 0 10px;
  z-index: 666;
  display: none;
  padding: 0 5px;
}

.showUp {
  display: block;
}

.sorting_list li:nth-child(2) {
  border-bottom: 1px solid #c5c5c5;
  border-top: 1px solid #c5c5c5;
}

.sorting_list li {
  padding: 11px 9px;
}

.sorting_list li:hover {
  background: #dfe4ce;
  font-weight: bold;
}

.rental_status {
  display: flex;
  gap: 21px;
  color: #474f2c;
  font-weight: bold;
}

.stationName {
  padding: 21px 12px 15px;
  color: #474f2c;
  font-size: 22px;
  font-weight: bold;
}

.bikeQty_Box,
.parkingQty_Box {
  background: #dfe4ce;
  border-radius: 8px;
  padding: 8px 0;
  text-align: center;
  width: 170px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.limited_color {
  background: #f7d4dd;
  color: #8c3046;
}

.disable_color {
  background: #eeeeee;
  color: #9a9a9a;
}

.bikeQty,
.parkingQty {
  font-size: 26px;
  font-weight: bold;
}

.parking_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.parking_title img {
  margin-right: 5px;
  height: 14.62px;
}

.StationInfo_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px;
  font-weight: bold;
}

.rentReturn_status {
  border: 1px solid #eabd8a;
  border-radius: 6px;
  padding: 6px 12px;
  color: #c67a24;
}

.onlyRentOrReturn_color {
  border: 1px solid #f27594;
  color: #e75578;
}

.searchType_btns {
  padding: 8px 12px;
  width: 276px;
  height: 60px;
  background: #ffffff;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 477px;
  top: 36px;
  z-index: 999;
  cursor: pointer;
  outline: 3px solid #738047;
}

.searchType_btns:hover {
  box-shadow: 0 0 0.15rem 0.45rem rgb(115 128 71 / 60%);
}
.searchType_btns:active {
  box-shadow: 0 0 0.1rem 0.45rem rgb(115 128 71 / 76%);
}

/* .locate {
  position: absolute;
  left: 765px;
  top: 36px;
  z-index: 999;
}

.locate_icon {
  width: 60px;
} */

.perStationInfo {
  padding: 0 5px;
}

.perStationInfo:hover {
  cursor: pointer;
  background: #dcee9f94;
}

.locate {
  position: absolute;
  left: 751px;
  top: 22px;
  z-index: 999;
  background-image: url("../image/locate_default.svg");
  background-size: cover;
  background-position: center;
  width: 96px;
  height: 96px;
}

.locate:hover {
  background-image: url("../image/locate_hover.svg");
  height: 105px;
  top: 28px;
}

.find_parking {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #738047;
  width: 124px;
  height: 44px;
}

.find_bike {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 44px;
  gap: 5px;
  color: #738047;
}

.active {
  color: #ffffff;
  background: #738047;
  border-radius: 40px;
  transition: all 1s ease 0s;
}

/* .searchType_slider {
  width: 124px;
  height: 44px;
  position: absolute;
  z-index: -999;
  left: 12px;
}

.slide_right {
  transform: translateX(130px);
}

.slide_left {
  transform: translateX(0px);
} */

.change_green {
  color: #738047;
}

.change_white {
  color: #ffffff;
}

.distance {
  color: #767676;
}

#map {
  height: 100%;
}

/* route_page的css */

.searchDiv_route {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  flex-direction: column;
  gap: 10px;
}

.routeInfo_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routeInfo_body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #474f2c;
  font-weight: bold;
  font-size: 15px;
}

.locationCity {
  color: #9a9a9a;
}

.searching_route {
  padding: 5px 16px;
  height: 45px;
  background: #eeeeee;
  border-radius: 8px;
  border: 2px solid #a4b375;
  width: 70%;
  font-size: 14px;
  width: 90%;
  font-weight: bold;
  color: #496000;
}

.hr-style {
  margin: 1rem 11px 0 0;
}

.routeName {
  margin: 21px 12px 15px;
  color: #474f2c;
  font-size: 22px;
  font-weight: bold;
  max-width: 75%;
}

.start_box,
.end_box {
  display: flex;
}

.startIcon,
.endIcon {
  width: 39px;
  height: 36px;
  padding: 0 12px;
  background: #dfe4ce;
  border-radius: 8px;
  margin: 0px 8px;
  line-height: 36px;
}

.start_routeName,
.end_routeName {
  padding: 0 12px;
  width: 306px;
  height: 36px;
  background: #dfe4ce;
  border-radius: 8px;
  line-height: 36px;
}

.routeInfo_bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 0 15px;
  font-weight: bold;
}

.route_distance {
  color: #767676;
}

.locate_route {
  position: absolute;
  left: 477px;
  top: 22px;
  z-index: 999;
  background-image: url("../image/locate_default.svg");
  background-size: cover;
  background-position: center;
  width: 96px;
  height: 96px;
}

.locate_route:hover {
  background-image: url("../image/locate_hover.svg");
  height: 105px;
  top: 28px;
}

/* spot_page的css */

.perSpotInfo {
  margin: 24px 0 8px;
}

.perTag {
  height: 26px;
  background: #738047;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  padding: 0 12px;
}

.spotTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spotName {
  margin: 10px 0;
  color: #474f2c;
  font-size: 22px;
  font-weight: bold;
}

.spotInfo_bottom {
  display: flex;
  justify-content: space-between;
}

.spotTags {
  display: flex;
  gap: 5px;
}

.spotImage_Div {
  width: 361px;
  height: 155px;
  border-radius: 8px;
  overflow: hidden;
}

.spotImage {
  width: 361px;
  height: 155px;
  object-fit: cover;
}

.spotImage:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.earth_icon {
  background-image: url("image/Web.svg");
  background-size: cover;
  background-position: center;
  width: 26px;
}

.earth_icon:hover {
  background-image: url("image/Web_hover.svg");
}

.earth_icon:focus {
  background-image: url("image/Web_focus.svg");
}

/* 下方景點描述 */
.describe-layer {
  color: #767676;
  z-index: 998;
  position: absolute;
  bottom: 0;
  background-color: #ffffff;
  box-shadow: 0px -4px 4px rgba(118, 118, 118, 0.3);
  padding: 28px 36px 28px 482px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  visibility: hidden;
  /* padding: 0;
  height: 0; */
  /* transition: all 2s ease-in-out; */
}

/* .closeBtn_toggle {
  bottom: 0;
} */

.desc-closeBtn {
  background-image: url(image/triangle.svg);
  position: absolute;
  width: 86px;
  height: 26px;
  left: 62%;
  top: -25px;
  /* bottom: 349px; */
  background: #ffffff;
  box-shadow: 0px -4px 4px rgba(118, 118, 118, 0.3);
  border-radius: 6px 6px 0px 0px;
  text-align: center;
  line-height: 26px;
  z-index: 999;
}

.desc_spotName {
  font-size: 32px;
  color: #474f2c;
  margin-bottom: 15px;
  font-weight: bold;
}

.addr,
.openTime,
.phone {
  font-size: 15px;
}

.openTime {
  margin: 10px 0;
}

.spotDetails {
  margin: 16px 0 6px;
  line-height: 20px;
  font-size: 0.75rem;
}

.descLayer-Image {
  width: 276px;
  height: 162px;
  border-radius: 8px;
  overflow: hidden;
}

.descImage {
  width: 276px;
  height: 162px;
  object-fit: cover;
}

.descLayer-Info {
  width: 62%;
}

/* 地圖 */
.popUp {
  font-size: 1.05rem;
  text-align: center;
}

.leaflet-popup-content {
  font-size: 1rem;
  margin: 13px 19px;
  /* width: 344px; */
  width: 100%;
}

.leaflet-container a.leaflet-popup-close-button {
  top: 5px !important;
  right: 5px !important;
}

.bikeIcon {
  width: 100%;
}

.bikeIconNum {
  left: 45%;
  bottom: 3px;
  font-size: 22px;
  position: absolute;
  font-weight: bold;
  color: #738047;
  transform: translate(-50%, -50%);
}

.noRentAndReturn_color {
  color: #9a9a9a;
  border: 1px solid #c5c5c5;
}

.colorLimited {
  color: #e75578;
}

.colorDisabled {
  color: #9a9a9a;
}

/* .leaflet-popup leaflet-zoom-animated {
  bottom: 42px;
  left: -97px;
} */

.leaflet-popup {
  /* background: #ffffff;
  border: 2px solid #a4b375; */
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  /* border-radius: 8px; */
}

.leaflet-popup-content-wrapper {
  border: 4px solid #a4b375;
  box-sizing: border-box;
  border-radius: 8px !important;
}

.leaflet-popup-tip {
  border-right: 4px solid #a4b375;
  border-bottom: 4px solid #a4b375;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none !important;
}

.markInfoTitle {
  color: #474f2c;
  font-size: 1rem;
  font-weight: bold;
}

.leaflet-popup-content .markInfoTitle {
  margin: 8px 0;
}

.leaflet-popup-tip-container {
  overflow: unset !important;
  bottom: -34%x;
}

.markInfoBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numInfos {
  display: flex;
  align-items: center;
  gap: 12px;
}

.numLabel {
  background: #dfe4ce;
  padding: 7px 12px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  color: #474f2c;
}

.numLabel img {
  width: 15px;
}

.distanceInfo {
  color: #767676;
}

.labelColorDisabled {
  background: #eeeeee;
  color: #9a9a9a;
}

.labelColorLimited {
  background: #f7d4dd;
  color: #bc3253;
}

/* cluster */
.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
  opacity: 0.6;
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(218, 208, 171, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.leaflet-pane .marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  width: 45px !important;
  height: 45px !important;
}
.marker-cluster div {
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;
  border-radius: 15px;
  font: 1.125rem "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: black;
}
.marker-cluster span {
  line-height: 35px;
}

.js-perRouteInfo:hover {
  cursor: pointer;
  background: #dcee9f94;
}
